#officeLayoutImageContainer {
    margin: 0 auto;
    text-align: center;
}

#officeLayoutImage {
    height: 52vh;
}

#directoryContainer {
    white-space: nowrap;
    overflow-x: auto;
    position: relative;
    padding-top: 1vh;
}

#directory {
    height: 43.5vh;
    width: 98vw;
    margin: 0 auto;
    font-weight: 600;
}

.container {
    max-height: 43.5vh;
    text-align: left;
    position: relative;
}

div.dataContainer {
    display:flex;
    flex-flow: column wrap;
    width: 0vw;
    padding-top: 1vh;
    padding-right: 1.25vh;
}

div.title {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.6vw;
    margin: 1%;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

div.dataRow {
    width: 13vw;
    height: 1.5vh;
    display: block;
    white-space: nowrap;
    /* padding-bottom: 0.05vh; */
    flex-direction: column;
    flex-flow: column nowrap;
}


span.dataPoint {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 0.45vw;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

span.lastName {
    width: 4.5vw;
}
span.firstName {
    width: 4vw;
}
span.phone {
    width: 4vw;
}
span.office {
    width: 3vw;
}




div#com, div#fin, div#gp, div#hr, div#smr {
    flex-grow: 1;
}
 div#ee {
    flex-grow: 2;
}

div.ee {
    width: 10vw;
}

span.titleText {
    background-color: white;
    z-index: 1;
    width: auto;
    padding-top: 0.3vh;
    padding-bottom: 0.2vh;
    padding-right: 1vw;
    position: absolute;
    top: 0;
    left: 0;
}

.bar {
    float: right;
    width: 80%;
    height: 0.8vw;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 1vw;
}

.ee-stripe-3 {
    background: 
        repeating-linear-gradient(45deg, rgba(206, 166, 190, 0.8),
                                rgba(206, 166, 190, 0.8) 10px,
                                rgba(206, 166, 190, 1) 10px,
                                rgba(206, 166, 190, 1) 20px)
  }

  .com-stripe-3 {
    background: 
        repeating-linear-gradient(45deg, rgba(155, 203, 212, 0.8),
                                rgba(155, 203, 212, 0.8) 10px,
                                rgba(155, 203, 212, 1) 10px,
                                rgba(155, 203, 212, 1) 20px)
  }

  .fin-stripe-3 {
    background: 
        repeating-linear-gradient(45deg, rgba(251, 243, 171, 0.8),
                                rgba(251, 243, 171, 0.8) 10px,
                                rgba(251, 243, 171, 1) 10px,
                                rgba(251, 243, 171, 1) 20px)
  }

  .gp-stripe-3 {
    background: 
    repeating-linear-gradient(45deg, rgba(232, 175, 134, 0.8),
                                rgba(232, 175, 134, 0.8) 10px,
                                rgba(232, 175, 134, 1) 10px,
                                rgba(232, 175, 134, 1) 20px)
  }

  .hr-stripe-3 {
    background: 
        repeating-linear-gradient(45deg, rgba(211, 232, 206, 0.8),
                                rgba(211, 232, 206, 0.8) 10px,
                                rgba(211, 232, 206, 1) 10px,
                                rgba(211, 232, 206, 1) 20px)
  }

  .smr-stripe-3 {
    background: 
        repeating-linear-gradient(45deg, rgba(234, 188, 182, 0.8),
                                rgba(234, 188, 182, 0.8) 10px,
                                rgba(234, 188, 182, 1) 10px,
                                rgba(234, 188, 182, 1) 20px)
  }


  .flex-parent {
    display:flex;
    flex-flow: column;
    flex-wrap: wrap;
  }
  
  .flex-child {
    flex: 1 0 auto;
    display:flex;
    flex-flow: column;
    flex-wrap: nowrap;
  }